<% layout('/layouts/boilerplate') -%>
<body>

    <h3>Add New Listings</h3>
    <form method="POST"  action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <br><br>
        <textarea name="description" placeholder="Enter Description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter URL/Link">
        <br><br>
        <input type="text" name="listing[price]" placeholder="Enter Price">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter Country">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br><br>
        <button>Add</button>
    </form> 
</body>
